// resolutions
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// fonts
$barlow-font: "Barlow", sans-serif;

//colors
$dark-orange: #F16718;
$light-orange: #FF9B62;
$dark-blue: #162542;
$light-blue: #7B8BAD;
$light-grey: #E8EFF2;
$white: #FFFFFF;
